@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

.customscroll {
  scrollbar-width: thin;
  scrollbar-color: #cbcbcb #ffffff;
}

/* Chrome, Edge and Safari */
.customscroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.customscroll::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #ffffff;
}

.customscroll::-webkit-scrollbar-track:hover {
  background-color: #f6f6f6;
}

.customscroll::-webkit-scrollbar-track:active {
  background-color: #f6f6f6;
}

.customscroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cbcbcb;
}

.customscroll::-webkit-scrollbar-thumb:hover {
  background-color: #bababa;
}

.customscroll::-webkit-scrollbar-thumb:active {
  background-color: #bababa;
}
